Repository databrickslabs/lakebridge, pull requests merged in 2024-08, with the labels that each got.

#740 Aggregate Queries Reconciliation
  pyproject.toml
  src/databricks/labs/remorph/reconcile/compare.py
  src/databricks/labs/remorph/reconcile/execute.py
  src/databricks/labs/remorph/reconcile/query_builder/aggregate_query.py
  src/databricks/labs/remorph/reconcile/query_builder/base.py
  src/databricks/labs/remorph/reconcile/recon_capture.py
  src/databricks/labs/remorph/reconcile/recon_config.py
  src/databricks/labs/remorph/resources/reconcile/queries/installation/aggregate_details.sql
  src/databricks/labs/remorph/resources/reconcile/queries/installation/aggregate_metrics.sql
  src/databricks/labs/remorph/resources/reconcile/queries/installation/aggregate_rules.sql
  src/databricks/labs/remorph/resources/reconcile/queries/installation/main.sql
  tests/unit/conftest.py
  tests/unit/reconcile/test_aggregates_recon_capture.py
  tests/unit/reconcile/test_aggregates_reconcile.py
  tests/unit/reconcile/test_execute.py
Labels: feat/recon

#751 Generate CAST (and datatypes)
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/DataTypeGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/ExpressionGenerator.scala
  core/src/test/scala/com/databricks/labs/remorph/generators/sql/DataTypeGeneratorTest.scala
  core/src/test/scala/com/databricks/labs/remorph/transpilers/SnowflakeToDatabricksTranspilerTest.scala
Labels: internal

#711 Incremental improvement to error messages - article selection
  core/src/main/scala/com/databricks/labs/remorph/parsers/tsql/TSqlErrorStrategy.scala
Labels: sql/tsql

#760 Implement error strategy for Snowflake parsing and use error strategy for all parser instances
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/snowflake/SnowflakeLexer.g4
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeErrorStrategy.scala
  core/src/main/scala/com/databricks/labs/remorph/transpilers/TSqlToDatabricksTranspiler.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/ParserTestCommon.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeParserTestCommon.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/tsql/TSqlParserTestCommon.scala
  coverage/src/main/scala/com/databricks/labs/remorph/coverage/QueryRunner.scala
Labels: enhancement, sql/snowflake, sql/tsql

#548 Add `LET` and `DECLARE` statements parsing in Snowflake PL/SQL procedures
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/snowflake/SnowflakeLexer.g4
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/snowflake/SnowflakeParser.g4
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/commands.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/extensions.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeCommandBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeDDLBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExpressionBuilder.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeCommandBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeDDLBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExpressionBuilderSpec.scala
Labels: sql/snowflake, ir/procedures

#757 Improve TSQL and Snowflake parser and lexer
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/snowflake/SnowflakeLexer.g4
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/snowflake/SnowflakeParser.g4
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/tsql/TSqlLexer.g4
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowLexerSpec.scala
Labels: sql/snowflake, sql/tsql

#765 Implement TSQL specific function call mapper
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/ExpressionGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/extensions.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/tsql/rules/TSqlCallMapper.scala
  core/src/main/scala/com/databricks/labs/remorph/transpilers/TSqlToDatabricksTranspiler.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/tsql/TSqlExpressionGeneratorTest.scala
  tests/resources/functional/tsql/functions/test_dateadd_hour_1.sql
  tests/resources/functional/tsql/functions/test_dateadd_hour_2.sql
  tests/resources/functional/tsql/functions/test_dateadd_microsecond_1.sql
  tests/resources/functional/tsql/functions/test_dateadd_microsecond_2.sql
  tests/resources/functional/tsql/functions/test_dateadd_millisecond_1.sql
  tests/resources/functional/tsql/functions/test_dateadd_millisecond_2.sql
  tests/resources/functional/tsql/functions/test_dateadd_minute_1.sql
  tests/resources/functional/tsql/functions/test_dateadd_minute_2.sql
  tests/resources/functional/tsql/functions/test_dateadd_minute_3.sql
  tests/resources/functional/tsql/functions/test_dateadd_nanosecond_1.sql
  tests/resources/functional/tsql/functions/test_dateadd_nanosecond_2.sql
  tests/resources/functional/tsql/functions/test_dateadd_second_1.sql
  tests/resources/functional/tsql/functions/test_dateadd_second_2.sql
  tests/resources/functional/tsql/functions/test_dateadd_second_3.sql
Labels: enhancement, feat/ir, sql/tsql

#752 Generate CTEDefinition
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/snowflake/SnowflakeParser.g4
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/extensions.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeRelationBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/tsql/TSqlRelationBuilder.scala
  core/src/test/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGeneratorTest.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeAstBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeRelationBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/tsql/TSqlAstBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/tsql/TSqlRelationBuilderSpec.scala
Labels: internal

#773 Generate `CASE ... WHEN ... ELSE` clauses
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/ExpressionGenerator.scala
  core/src/test/scala/com/databricks/labs/remorph/generators/sql/ExpressionGeneratorTest.scala
Labels: internal

#756 Added logger statements in get_schema function
  src/databricks/labs/remorph/reconcile/connectors/databricks.py
  src/databricks/labs/remorph/reconcile/connectors/oracle.py
  src/databricks/labs/remorph/reconcile/connectors/snowflake.py
Labels: feat/recon

#754 Generate IN
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/ExpressionGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExpressionBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/expressions.scala
  core/src/test/scala/com/databricks/labs/remorph/generators/sql/ExpressionGeneratorTest.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExprSpec.scala
Labels: internal, pr/rebase

#774 Generate table alias
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGenerator.scala
  core/src/test/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGeneratorTest.scala
Labels: internal, pr/rebase

#780 Generate Deduplicate
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGenerator.scala
  core/src/test/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGeneratorTest.scala
Labels: internal, pr/rebase

#766 TSQL: Improve transpilation coverage
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/ExpressionGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/functions.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/operators.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/rules/SnowflakeCallMapper.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/tsql/TSqlExpressionBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/tsql/TSqlFunctionBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/tsql/rules/TSqlCallMapper.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/common/FunctionBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/tsql/TSqlExpressionGeneratorTest.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/tsql/TSqlFunctionSpec.scala
  coverage/src/main/scala/com/databricks/labs/remorph/coverage/QueryExtractor.scala
  coverage/src/main/scala/com/databricks/labs/remorph/coverage/QueryRunner.scala
  tests/resources/functional/tsql/functions/test_abs_1.sql
  tests/resources/functional/tsql/functions/test_dateadd_quarter_1.sql
  tests/resources/functional/tsql/functions/test_dateadd_quarter_2.sql
  tests/resources/functional/tsql/functions/test_dateadd_quarter_3.sql
  tests/resources/functional/tsql/functions/test_dateadd_week_1.sql
  tests/resources/functional/tsql/functions/test_dateadd_week_2.sql
  tests/resources/functional/tsql/functions/test_dateadd_week_3.sql
  tests/resources/functional/tsql/functions/test_dateadd_year_1.sql
  tests/resources/functional/tsql/functions/test_dateadd_year_2.sql
  tests/resources/functional/tsql/functions/test_dateadd_year_3.sql
  tests/resources/functional/tsql/functions/test_get_bit_1.sql
  tests/resources/functional/tsql/functions/test_grouping_id_1.sql
  tests/resources/functional/tsql/functions/test_grouping_id_2.sql
  tests/resources/functional/tsql/functions/test_left_shift_1.sql
  tests/resources/functional/tsql/functions/test_right_shift_1.sql
  tests/resources/functional/tsql/functions/test_set_bit_1.sql
  tests/resources/functional/tsql/functions/test_set_bit_2.sql
  tests/resources/functional/tsql/functions/test_sum_1.sql
  tests/resources/functional/tsql/functions/test_sum_2.sql
  tests/resources/functional/tsql/select/test_cte_1.sql
  tests/resources/functional/tsql/select/test_cte_xml.sql
Labels: sql/tsql

#785 [internal] run Scala and ANTLR formatters in separate Maven profile
  .github/workflows/push.yml
  Makefile
  core/pom.xml
  coverage/pom.xml
  pom.xml
Labels: internal

#786 Corrections to Snowflake grammar for explicit precedence
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/snowflake/SnowflakeParser.g4
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExpressionBuilder.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExpressionBuilderSpec.scala
Labels: feat/ir, internal, sql/snowflake

#792 Make non-standard default for Snowflake rank-related functions' window frame explicit
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExpressionBuilder.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExpressionBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeRelationBuilderSpec.scala
Labels: internal

#788 TSQL: Implement grammar for CREATE DATABASE and CREATE DATABASE SCOPED OPTION
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/tsql/TSqlParser.g4
Labels: sql/tsql

#796 TSQL: Implement correct grammar for CREATE TABLE in all forms
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/tsql/TSqlLexer.g4
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/tsql/TSqlParser.g4
Labels: sql/tsql, antlr

#793 Update developer documentation to provide extra ANTLR instructions
  CONTRIBUTING.md
  core/README.md
  core/docs/img/antlrmissingtioken.png
  core/docs/img/antlrorphanedrule.png
  core/docs/img/antlrproblemlist.png
  core/docs/img/intellijproblem.png
Labels: documentation, internal, antlr

#798 Fix CI coverage tests configuration
  .github/workflows/push.yml
Labels: internal

#797 Implement ANTLR4 grammar customized linter
  .github/workflows/push.yml
  .gitignore
  Makefile
  core/README.md
  linter/pom.xml
  linter/src/main/antlr4/com/databricks/labs/remorph/linter/ANTLRv4Lexer.g4
  linter/src/main/antlr4/com/databricks/labs/remorph/linter/ANTLRv4Parser.g4
  linter/src/main/antlr4/library/LexBasic.g4
  linter/src/main/java/com/databricks/labs/remorph/linter/LexerAdaptor.java
  linter/src/main/scala/com/databricks/labs/remorph/linter/GrammarSource.scala
  linter/src/main/scala/com/databricks/labs/remorph/linter/Main.scala
  linter/src/main/scala/com/databricks/labs/remorph/linter/OrphanedRule.scala
  linter/src/main/scala/com/databricks/labs/remorph/linter/ReportEntry.scala
  linter/src/main/scala/com/databricks/labs/remorph/linter/RuleDefinition.scala
  linter/src/main/scala/com/databricks/labs/remorph/linter/RuleReference.scala
  linter/src/main/scala/com/databricks/labs/remorph/linter/RuleTracker.scala
  pom.xml
Labels: github_actions, internal, antlr

#802 TSQL: Resolve orphaned grammar rules / grammar cleanup
  .gitignore
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/tsql/TSqlParser.g4
Labels: internal, sql/tsql, antlr

#804 Snowflake: Remove redundant grammar rules for a clean lint
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/snowflake/SnowflakeParser.g4
Labels: internal, sql/snowflake, antlr

#727 [internal] run queries over real backends
  NOTICE
  core/pom.xml
  core/src/main/resources/log4j2.properties
  core/src/main/scala/com/databricks/labs/remorph/utils/Strings.scala
  coverage/pom.xml
  coverage/src/main/scala/com/databricks/labs/remorph/coverage/runners/CsvDumper.scala
  coverage/src/main/scala/com/databricks/labs/remorph/coverage/runners/DatabricksSQL.scala
  coverage/src/main/scala/com/databricks/labs/remorph/coverage/runners/EnvGetter.scala
  coverage/src/main/scala/com/databricks/labs/remorph/coverage/runners/SnowflakeRunner.scala
  coverage/src/main/scala/com/databricks/labs/remorph/coverage/runners/TSqlRunner.scala
  coverage/src/test/scala/com/databricks/labs/remorph/coverage/runners/DatabricksSQLTest.scala
  coverage/src/test/scala/com/databricks/labs/remorph/coverage/runners/SnowflakeTest.scala
  coverage/src/test/scala/com/databricks/labs/remorph/coverage/runners/TSqlTest.scala
Labels: internal

#806 [chore] fixed invalid SQL line
  tests/resources/datasets/customer.sql
Labels: internal

#807 Fix parsing of Snowflake LIKE expressions and generate SQL for them.
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/snowflake/SnowflakeParser.g4
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/ExpressionGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/operators.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExpressionBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/expressions.scala
  core/src/test/scala/com/databricks/labs/remorph/generators/sql/ExpressionGeneratorTest.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExprSpec.scala
Labels: internal, antlr

#808 Fix translation of Snowflake's join types
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/snowflake/SnowflakeParser.g4
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/relations.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeRelationBuilder.scala
  core/src/test/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGeneratorTest.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeAstBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeRelationBuilderSpec.scala
Labels: feat/ir, internal, antlr

#809 [internal] Remove recursive dependency between logical plan and expression generators
  core/src/main/scala/com/databricks/labs/remorph/generators/GeneratorContext.scala
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/ExpressionGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/transpilers/SnowflakeToDatabricksTranspiler.scala
  core/src/main/scala/com/databricks/labs/remorph/transpilers/TSqlToDatabricksTranspiler.scala
  core/src/test/scala/com/databricks/labs/remorph/generators/sql/DataTypeGeneratorTest.scala
  core/src/test/scala/com/databricks/labs/remorph/generators/sql/GeneratorTestCommon.scala
Labels: internal

#810 [snowflake] fix data type mapping and explain `UnparsedType`
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/snowflake/SnowflakeParser.g4
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/DataTypeGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/ddl.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/DataTypeBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeCommandBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeDDLBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExpressionBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeTypeBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/tsql/DataTypeBuilder.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/DataTypeBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeAstBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeCommandBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeDDLBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeTypeBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/tsql/TSqlExpressionBuilderSpec.scala
  coverage/src/main/scala/com/databricks/labs/remorph/coverage/AcceptanceTestSource.scala
  coverage/src/test/scala/com/databricks/labs/remorph/coverage/AcceptanceTestRunner.scala
  tests/resources/functional/snowflake/cast/test_cast_date.sql
  tests/resources/functional/snowflake/cast/test_cast_decimal.sql
  tests/resources/functional/snowflake/cast/test_cast_double.sql
  tests/resources/functional/snowflake/cast/test_cast_int.sql
  tests/resources/functional/snowflake/cast/test_cast_strings.sql
  tests/resources/functional/snowflake/cast/test_cast_timestamp.sql
  tests/resources/functional/snowflake/cast/test_typecasts.sql
Labels: internal, sql/snowflake

#814 [internal] always format transpiled queries
  NOTICE
  core/pom.xml
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/functions.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/rules/SnowflakeCallMapper.scala
  core/src/main/scala/com/databricks/labs/remorph/transpilers/Transpiler.scala
  core/src/test/scala/com/databricks/labs/remorph/generators/sql/ExpressionGeneratorTest.scala
  core/src/test/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGeneratorTest.scala
  core/src/test/scala/com/databricks/labs/remorph/transpilers/SnowflakeToDatabricksTranspilerTest.scala
  coverage/src/main/scala/com/databricks/labs/remorph/coverage/QueryRunner.scala
Labels: internal

#815 [internal] remove dead code
  coverage/src/main/scala/com/databricks/labs/remorph/coverage/QueryRunner.scala
Labels: internal

#813 TSQL: Bring coverage back to previous levels
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/tsql/TSqlLexer.g4
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/tsql/TSqlParser.g4
Labels: internal, sql/tsql

#819 Sql formatter Patch
  core/src/main/scala/com/databricks/labs/remorph/transpilers/Transpiler.scala
  core/src/test/scala/com/databricks/labs/remorph/transpilers/SnowflakeToDatabricksTranspilerTest.scala
Labels: internal

#817 [snowflake] `UPDATE` as `MERGE INTO`
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/ExpressionGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/dml.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/rules/UpdateToMerge.scala
  core/src/main/scala/com/databricks/labs/remorph/transpilers/SnowflakeToDatabricksTranspiler.scala
  core/src/main/scala/com/databricks/labs/remorph/transpilers/Transpiler.scala
  core/src/test/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGeneratorTest.scala
  tests/resources/functional/snowflake/dml/update/test_update_from_dml_2.sql
  tests/resources/functional/snowflake/dml/update/test_update_from_dml_3.sql
Labels: internal, sql/snowflake

#824 [sql] generate `DELETE FROM ...`
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/dml.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeDMLBuilder.scala
  core/src/test/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGeneratorTest.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeDMLBuilderSpec.scala
  tests/resources/functional/snowflake/dml/test_delete.sql
  tests/resources/functional/snowflake/dml/test_delete_from_keyword_2.sql
  tests/resources/functional/snowflake/dml/test_delete_using.sql
  tests/resources/functional/snowflake/dml/test_delete_using_where.sql
  tests/resources/functional/snowflake/dml/test_delete_where.sql
Labels: internal

#827 [chore] increase coverage by 8%
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/ExpressionGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGenerator.scala
  tests/resources/functional/snowflake/arrays/test_arrayagg_1.sql
  tests/resources/functional/snowflake/arrays/test_arrayagg_2.sql
  tests/resources/functional/snowflake/arrays/test_arrayagg_3.sql
  tests/resources/functional/snowflake/arrays/test_arrayagg_6.sql
  tests/resources/functional/snowflake/ddl/lateral_struct/test_lateral_struct_1.sql
  tests/resources/functional/snowflake/ddl/lateral_struct/test_lateral_struct_10.sql
  tests/resources/functional/snowflake/ddl/lateral_struct/test_lateral_struct_11.sql
  tests/resources/functional/snowflake/ddl/lateral_struct/test_lateral_struct_12.sql
  tests/resources/functional/snowflake/ddl/lateral_struct/test_lateral_struct_2.sql
  tests/resources/functional/snowflake/ddl/lateral_struct/test_lateral_struct_3.sql
  tests/resources/functional/snowflake/ddl/lateral_struct/test_lateral_struct_4.sql
  tests/resources/functional/snowflake/ddl/lateral_struct/test_lateral_struct_5.sql
  tests/resources/functional/snowflake/ddl/lateral_struct/test_lateral_struct_6.sql
  tests/resources/functional/snowflake/ddl/lateral_struct/test_lateral_struct_7.sql
  tests/resources/functional/snowflake/ddl/lateral_struct/test_lateral_struct_8.sql
  tests/resources/functional/snowflake/ddl/lateral_struct/test_lateral_struct_9.sql
Labels: internal

#820 Improve coverage by properly handling Snowflake's date/time related functions
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/snowflake/SnowflakeParser.g4
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/ExpressionGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/functions.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExpressionBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeFunctionBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeRelationBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/expressions.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/rules/SnowflakeCallMapper.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/rules/SnowflakeTimeUnits.scala
  core/src/test/scala/com/databricks/labs/remorph/generators/sql/ExpressionGeneratorTest.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/common/FunctionBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExprSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/transpilers/TranspilerTestCommon.scala
  src/databricks/labs/remorph/snow/databricks.py
  tests/resources/functional/snowflake/functions/conversion/to_timestamp_1.sql
  tests/resources/functional/snowflake/functions/dates/test_convert_timezone_1.sql
  tests/resources/functional/snowflake/functions/dates/test_convert_timezone_5.sql
Labels: internal, sql/snowflake

#831 [snowflake] cleanup functional tests
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/rules.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/rules/SnowflakeCallMapper.scala
  core/src/main/scala/com/databricks/labs/remorph/transpilers/SnowflakeToDatabricksTranspiler.scala
  core/src/main/scala/com/databricks/labs/remorph/transpilers/TSqlToDatabricksTranspiler.scala
  tests/resources/functional/snowflake/ddl/test_create_ddl_1.sql
  tests/resources/functional/snowflake/functions/dates/datediff/test_datediff_1.sql
  tests/resources/functional/snowflake/functions/dates/datediff/test_datediff_10.sql
  tests/resources/functional/snowflake/functions/dates/datediff/test_datediff_11.sql
  tests/resources/functional/snowflake/functions/dates/datediff/test_datediff_2.sql
  tests/resources/functional/snowflake/functions/dates/datediff/test_datediff_3.sql
  tests/resources/functional/snowflake/functions/dates/datediff/test_datediff_4.sql
  tests/resources/functional/snowflake/functions/dates/datediff/test_datediff_5.sql
  tests/resources/functional/snowflake/functions/dates/datediff/test_datediff_6.sql
  tests/resources/functional/snowflake/functions/dates/datediff/test_datediff_7.sql
  tests/resources/functional/snowflake/functions/dates/datediff/test_datediff_8.sql
  tests/resources/functional/snowflake/functions/dates/datediff/test_datediff_9.sql
  tests/resources/functional/snowflake/functions/dates/dayname/test_dayname_1.sql
  tests/resources/functional/snowflake/functions/dates/dayname/test_dayname_2.sql
  tests/resources/functional/snowflake/functions/dates/dayname/test_dayname_3.sql
  tests/resources/functional/snowflake/functions/dates/monthname/test_monthname_1.sql
  tests/resources/functional/snowflake/functions/dates/monthname/test_monthname_2.sql
  tests/resources/functional/snowflake/functions/dates/monthname/test_monthname_3.sql
  tests/resources/functional/snowflake/functions/dates/monthname/test_monthname_4.sql
  tests/resources/functional/snowflake/functions/dates/monthname/test_monthname_5.sql
  tests/resources/functional/snowflake/functions/dates/monthname/test_monthname_6.sql
  tests/resources/functional/snowflake/functions/dates/monthname/test_monthname_7.sql
  tests/resources/functional/snowflake/functions/dates/test_current_date_1.sql
  tests/resources/functional/snowflake/functions/parse_json/test_parse_json_1.sql
  tests/resources/functional/snowflake/functions/strings/ltrim_1.sql
  tests/resources/functional/snowflake/functions/strings/rtrim_1.sql
  tests/resources/functional/snowflake/functions/test_uuid_string_1.sql
  tests/resources/functional/snowflake/functions/window/ntile_1.sql
  tests/resources/functional/snowflake/sqlglot-incorrect/test_uuid_string/test_uuid_string_2.sql
Labels: internal, sql/snowflake

#834 [snowflake] more cleanup of functional tests
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/ExpressionGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/FunctionBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/expressions.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/functions.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/rules/SnowflakeCallMapper.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/common/FunctionBuilderSpec.scala
  tests/resources/functional/snowflake/functions/math/round_1.sql
  tests/resources/functional/snowflake/sqlglot-incorrect/test_current_date_1.sql
  tests/resources/functional/snowflake/sqlglot-incorrect/test_uuid_string_2.sql
Labels: internal, sql/snowflake

#837 [chore] make expr generator tests more maintainable
  core/src/test/scala/com/databricks/labs/remorph/generators/sql/ExpressionGeneratorTest.scala
Labels: internal

#828 TSQL: Improve parser and lexer parsing level coverage ready for CREATE TABLE
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/snowflake/SnowflakeLexer.g4
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/tsql/TSqlLexer.g4
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/tsql/TSqlParser.g4
  core/src/main/scala/com/databricks/labs/remorph/parsers/tsql/TSqlAstBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/tsql/TSqlExpressionBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/tsql/TSqlRelationBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/tsql/relations.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/tsql/TSqlAstBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/tsql/TSqlErrorStategySpec.scala
Labels: internal, pr/ready-to-merge, sql/tsql

#841 Improve coverage test success rate around snowflake's conversion functions
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/ExpressionGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/expressions.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/functions.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/literals.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/relations.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExpressionBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/rules/SnowflakeCallMapper.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExprSpec.scala
  src/databricks/labs/remorph/snow/databricks.py
  tests/resources/functional/snowflake/arrays/test_arrayagg_6.sql
  tests/resources/functional/snowflake/ddl/lateral_struct/test_lateral_struct_12.sql
  tests/resources/functional/snowflake/ddl/lateral_struct/test_lateral_struct_3.sql
  tests/resources/functional/snowflake/ddl/lateral_struct/test_lateral_struct_9.sql
  tests/resources/functional/snowflake/functions/conversion/is_integer_1.sql
  tests/resources/functional/snowflake/functions/conversion/to_boolean/test_to_boolean_1.sql
  tests/resources/functional/snowflake/functions/conversion/to_boolean/test_try_to_boolean_1.sql
  tests/resources/functional/snowflake/test_skip_unsupported_operations/test_skip_unsupported_operations_11.sql
Labels: internal

#843 [internal] added JVM command proxy in development mode
  .gitignore
  CONTRIBUTING.md
  Makefile
  core/pom.xml
  core/src/main/scala/com/databricks/labs/remorph/Main.scala
  labs.yml
  src/databricks/labs/remorph/cli.py
  src/databricks/labs/remorph/jvmproxy.py
Labels: internal

#845 Changing String data type to Varchar for validation dataset
  tests/resources/datasets/customer.sql
  tests/resources/datasets/lineitem.sql
  tests/resources/datasets/nation.sql
  tests/resources/datasets/order.sql
  tests/resources/datasets/part.sql
  tests/resources/datasets/partsupp.sql
  tests/resources/datasets/region.sql
  tests/resources/datasets/supplier.sql
Labels: internal

#771 Added Translation Support for `!` as `commands` and `&` for `Parameters`
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/snowflake/SnowflakeLexer.g4
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/snowflake/SnowflakeParser.g4
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeAstBuilder.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeAstBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/transpilers/SnowflakeToDatabricksTranspilerTest.scala
  src/databricks/labs/remorph/snow/databricks.py
  src/databricks/labs/remorph/snow/snowflake.py
  tests/resources/functional/snowflake/test_command/test_command_1.sql
  tests/resources/functional/snowflake/test_command/test_command_2.sql
  tests/resources/functional/snowflake/test_command/test_command_3.sql
  tests/resources/functional/snowflake/test_skip_unsupported_operations/test_skip_unsupported_operations_1.sql
  tests/resources/functional/snowflake/test_skip_unsupported_operations/test_skip_unsupported_operations_10.sql
  tests/resources/functional/snowflake/test_skip_unsupported_operations/test_skip_unsupported_operations_5.sql
  tests/resources/functional/snowflake/test_skip_unsupported_operations/test_skip_unsupported_operations_6.sql
  tests/resources/functional/snowflake/test_skip_unsupported_operations/test_skip_unsupported_operations_7.sql
  tests/resources/functional/snowflake/test_skip_unsupported_operations/test_skip_unsupported_operations_9.sql
  tests/resources/functional/snowflake/test_tokens_parameter/test_tokens_parameter_1.sql
  tests/resources/functional/snowflake/test_tokens_parameter/test_tokens_parameter_2.sql
  tests/resources/functional/snowflake/test_tokens_parameter/test_tokens_parameter_3.sql
  tests/unit/conftest.py
  tests/unit/transpiler/test_execute.py
Labels: feat/ir, sql/snowflake, transpile/legacy

#844 Add an optimizer rule for SF's WITHIN GROUP clause
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/snowflake/SnowflakeParser.g4
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/ExpressionGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/functions.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeFunctionBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/rules/TranslateWithinGroup.scala
  core/src/main/scala/com/databricks/labs/remorph/transpilers/SnowflakeToDatabricksTranspiler.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExpressionBuilderSpec.scala
  tests/resources/functional/snowflake/aggregates/listagg/test_listagg_4.sql
  tests/resources/functional/snowflake/aggregates/test_dense_rank_1.sql
  tests/resources/functional/snowflake/arrays/test_arrayagg_4.sql
  tests/resources/functional/snowflake/arrays/test_arrayagg_5.sql
  tests/resources/functional/snowflake/arrays/test_arrayagg_7.sql
Labels: internal, pr/ready-to-merge, antlr

#847 [chore] ensure `Alias(Expression, Id)` shape
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/ExpressionGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/expressions.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExpressionBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeRelationBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/tsql/TSqlExpressionBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/tsql/TSqlRelationBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/tsql/rules/TopPercentToLimitSubquery.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeAstBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeCommandBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeDDLBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeDMLBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExprSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExpressionBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeRelationBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/tsql/TSqlAstBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/tsql/TSqlRelationBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/tsql/rules/TopPercentToLimitSubqueryTest.scala
Labels: internal

#856 Fix CommentBasedQueryExtractor so that it works as intended even when…
  core/src/main/scala/com/databricks/labs/remorph/queries/QueryExtractor.scala
  coverage/src/main/scala/com/databricks/labs/remorph/coverage/Main.scala
  coverage/src/test/scala/com/databricks/labs/remorph/coverage/AcceptanceTestRunner.scala
Labels: internal

#863 python time format fixes
  src/databricks/labs/remorph/snow/databricks.py
  src/databricks/labs/remorph/snow/snowflake.py
Labels: internal

#860 Improve coverage around snowflake functions
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/ExpressionGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/expressions.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/functions.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/rules/FlattenNestedConcat.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/rules/SnowflakeCallMapper.scala
  core/src/main/scala/com/databricks/labs/remorph/transpilers/SnowflakeToDatabricksTranspiler.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/rules/FlattenNestedConcatSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/rules/SnowflakeCallMapperSpec.scala
  src/databricks/labs/remorph/snow/databricks.py
  src/databricks/labs/remorph/snow/snowflake.py
  tests/resources/functional/snowflake/ddl/object_construct/test_object_construct_4.sql
  tests/resources/functional/snowflake/functions/conversion/test_to_time/test_to_time_1.sql
  tests/resources/functional/snowflake/functions/dates/monthname/test_monthname_7.sql
  tests/resources/functional/snowflake/functions/strings/test_editdistance.sql
  tests/resources/functional/snowflake/functions/test_strtok_to_array/test_strtok_to_array_2.sql
  tests/resources/functional/snowflake/functions/test_strtok_to_array/test_strtok_to_array_3.sql
Labels: internal

#862 Reconcile Documentation updates
  docs/recon_configurations/README.md
Labels: documentation

#858 extra ";" generation has been taken care for Bang command
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGenerator.scala
  core/src/test/scala/com/databricks/labs/remorph/transpilers/SnowflakeToDatabricksTranspilerTest.scala
  src/databricks/labs/remorph/snow/databricks.py
  tests/resources/functional/snowflake/test_command/test_command_1.sql
  tests/resources/functional/snowflake/test_command/test_command_3.sql
  tests/resources/functional/snowflake/test_skip_unsupported_operations/test_skip_unsupported_operations_1.sql
  tests/resources/functional/snowflake/test_skip_unsupported_operations/test_skip_unsupported_operations_10.sql
  tests/resources/functional/snowflake/test_skip_unsupported_operations/test_skip_unsupported_operations_2.sql
  tests/resources/functional/snowflake/test_skip_unsupported_operations/test_skip_unsupported_operations_3.sql
  tests/resources/functional/snowflake/test_skip_unsupported_operations/test_skip_unsupported_operations_4.sql
  tests/resources/functional/snowflake/test_skip_unsupported_operations/test_skip_unsupported_operations_5.sql
  tests/resources/functional/snowflake/test_skip_unsupported_operations/test_skip_unsupported_operations_6.sql
  tests/resources/functional/snowflake/test_skip_unsupported_operations/test_skip_unsupported_operations_7.sql
  tests/resources/functional/snowflake/test_skip_unsupported_operations/test_skip_unsupported_operations_9.sql
Labels: bug, internal

#866 Reconcile Table Recon JSON filename updates
  docs/recon_configurations/README.md
Labels: documentation

#871 Minor upgrades to Snowflake parameter processing
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/snowflake/SnowflakeParser.g4
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/ExpressionGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExpressionBuilder.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeAstBuilderSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeExpressionBuilderSpec.scala
  tests/resources/functional/snowflake/test_tokens_parameter/test_tokens_parameter_1.sql
  tests/resources/functional/snowflake/test_tokens_parameter/test_tokens_parameter_2.sql
  tests/resources/functional/snowflake/test_tokens_parameter/test_tokens_parameter_4.sql
Labels: sql/snowflake, antlr

#872 Miscellaneous Snowflake coverage fixes
  core/src/main/antlr4/com/databricks/labs/remorph/parsers/snowflake/SnowflakeParser.g4
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/rules/SnowflakeCallMapper.scala
  core/src/test/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGeneratorTest.scala
  core/src/test/scala/com/databricks/labs/remorph/parsers/snowflake/rules/SnowflakeCallMapperSpec.scala
  core/src/test/scala/com/databricks/labs/remorph/transpilers/SnowflakeToDatabricksTranspilerTest.scala
  tests/resources/functional/snowflake/nested_query_with_json_1.sql
  tests/resources/functional/snowflake/nulls/test_nullsafe_eq_1.sql
Labels: internal, antlr

#874 Added query history retrieval from Snowflake
  core/pom.xml
  core/src/main/scala/com/databricks/labs/remorph/discovery/Anonymizer.scala
  core/src/main/scala/com/databricks/labs/remorph/discovery/SnowflakeQueryHistory.scala
  core/src/main/scala/com/databricks/labs/remorph/discovery/queries.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/extensions.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/trees.scala
  core/src/test/scala/com/databricks/labs/remorph/connections/EnvGetter.scala
  core/src/test/scala/com/databricks/labs/remorph/connections/SnowflakeConnectionFactory.scala
  core/src/test/scala/com/databricks/labs/remorph/discovery/AnonymizerTest.scala
  core/src/test/scala/com/databricks/labs/remorph/integration/SnowflakeQueryHistoryTest.scala
Labels: sql/snowflake

#838 [snowflake] initial support for lateral views
  core/src/main/scala/com/databricks/labs/remorph/generators/sql/LogicalPlanGenerator.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/extensions.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/intermediate/literals.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeRelationBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/SnowflakeTypeBuilder.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/expressions.scala
  core/src/main/scala/com/databricks/labs/remorph/parsers/snowflake/rules/FlattenLateralViewToExplode.scala
  core/src/main/scala/com/databricks/labs/remorph/transpilers/SnowflakeToDatabricksTranspiler.scala
Labels: internal, sql/snowflake
